!!! 5
html(ng-app="myApp")
	head
		title IOUUOM
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/vendor/bootstrap.min.css' media='screen')
		link(rel='stylesheet', href='/vendor/bootstrap-theme.min.css' media='screen')
		link(rel='stylesheet', href='/css/style.css')
	body
	block content
	block scripts