
extends layout

block content
	#login-container
		form(method="post" role="form")#login-form.well.col-md-4.col-md-offset-4
			h1 Hello!
			p.subheading Please Login To Your Account
			div.form-group
				label(for="user-tf") Username 
				input(type="text", name="user", id='user-tf' placeholder="Enter your user name").required.form-control
			div.form-group
				label(for="pass-tf") Password
				input(type="password", name="pass", id='pass-tf' placeholder="Enter your password").required.form-control
			div.form-group
				button(type="submit")#btn-login.btn.btn-primary.col-lg-4
					span.glyphicon.glyphicon-lock 
					span Sign in
				div.checkbox.col-lg-5.col-lg-offset-1
					label Remember Me
						input(type="checkbox", checked='checked')
			div.clearfix
			hr
			div.row
				a(href='#')#forgot-password.col-lg-7 Forgot Your Password?
				a(href='/signup')#create-account.col-lg-5 Create An Account

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')