div(role="dialog" aria-hidden="true").modal-alert.modal.fade
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type="button" data-dismiss='modal') x
				h3
			div.modal-body
				p
			div.modal-footer
				button(type="button" data-dismiss="modal")#ok.btn.btn-warning OK