
div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#get-credentials.modal-single-input.modal.fade
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(data-dismiss='modal') x
                h4.modal-title Retrieve Password
            div.modal-body
                form( method="post")#get-credentials-form
                    .form-group
                        p Please enter the email address associated with your account
                        input(type="text", name="email", id='email-tf').form-control.required
                    .form-group
                        button(type="submit")#submit.btn.btn-primary Submit
                        button(data-dismiss="modal")#cancel.btn Cancel
                    div.alert.alert-error.hide
                    button(data-dismiss="alert").close
            div.modal-footer